@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
form > div {
  @apply flex flex-col gap-2;
}

input,
textarea {
  @apply shadow-md px-6 py-2 border border-slate-300;
}

h1{
  color:#F2EAD3;
  font-family: "Handlee", sans-serif;
}
p {
  color:#F2EAD3;
}